// styles for the landing page goes here


.navbar{
    background-color: rgb(4, 10, 91);
}
 .txt{
     font-weight: bold;
     color:rgb(232, 230, 240);
 }

 .land{
     background-color: rgb(19, 9, 71);
     color:rgb(232, 230, 240);
     height: 100%;
     width: max-width;
 }